<!DOCTYPE html>
{% extends 'base.html' %}

<title>{% block title %}{% endblock %} Upload</title>

  <h1>File Upload</h1>


{% block content%}

<h2>Please make sure that all students have rated everyone.</h2>
    <p>These are the student(s) who are missing a rating (or have rated themselves):</p>
    <p><ul class="b">{% for student in missing %} <li>{{ student }}</li>{% endfor %}</p>

    <h4>Upload multiple CSV files of your student data.</h4>
    <form method=post action="/upload" enctype=multipart/form-data>
        <p><input type=file name=file[] multiple='' accept="text/csv"></p>
        <p><input type=submit value=Upload></p>
    </form>

{% endblock content%}